@font-face {
    font-family: Xtrusion;
    src: url(fonts/0.ttf) format("truetype");
}

@font-face {
    font-family: Craftism;
    src: url(fonts/1.ttf) format("truetype");
}

@font-face {
    font-family: Energy Dimension;
    src: url(fonts/2.ttf) format("truetype");
}

@font-face {
    font-family: Extrude;
    src: url(fonts/3.ttf) format("truetype");
}

@font-face {
    font-family: Country Western;
    src: url(fonts/4.ttf) format("truetype");
}

* {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

#div-grid {
    padding: 3px;
}

#div-grid table {
    border-collapse: collapse;
}

#div-grid td {
    border: solid 1px;
    box-sizing: border-box;
    table-layout: fixed;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
}

td.miss {
    color: orange;
}

td.wrong {
    color: red;
}

td.right {
    color: blue;
}

td.highlighted {
    border-left: none;
    border-right: none;
}

#div-grid td.highlighted {
    border: solid 3px;
    color: lime;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: #111111;
}

.menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.control {
    width: 64px;
    height: 64px;
    font: 16pt monospace;
}

.font-0 {
    font-family: Xtrusion, Arial, Helvetica, sans-serif;
}

.font-1 {
    font-family: Craftism, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.font-2 {
    font-family: "Energy Dimension", Georgia, sans-serif;
}

.font-3 {
    font-family: Extrude, Verdana, Geneva, sans-serif
}

.font-4 {
    font-family: "Country Western", "Times New Roman", Times, serif;
}

#div-grid {
    margin: 0;
}

#div-info button {
    background-color: #F39200;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /*margin-left: 33%;*/
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    border-radius: 12px;
}

#div-info button:hover {
    background-color: #FFAC1A;
}